<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>424098510885-sud4gdfkhnl48rkho8mp7nui8531p7v4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.424098510885-sud4gdfkhnl48rkho8mp7nui8531p7v4</string>
	<key>API_KEY</key>
	<string>AIzaSyBtc-r9RUxaHQKJbMs-Ji6MpaXUlFdIDNI</string>
	<key>GCM_SENDER_ID</key>
	<string>424098510885</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.semicolons.gongmonews</string>
	<key>PROJECT_ID</key>
	<string>gongmonews</string>
	<key>STORAGE_BUCKET</key>
	<string>gongmonews.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:424098510885:ios:d7089743d89684ec91e7cc</string>
</dict>
</plist>